<html>
<head>



	
	<title>url shortener</title>
	

  	
  
</head>
<body background='http://www.dotfoods.com/images/cloud_background.jpg'>
<div id="container">
<center><h1>Url shortener</h1>
    
	
		<form name="graph" >							
			<div>
				<div>
					
		
		</form>
		<div align="center">
			
			<form action="/redirect" method="POST">
			
			<textarea cols="60" rows="3" name="content"></textarea>

			<table>
			<td><input type="submit" value="Shorten" /></td>
			<td><input type="reset" /></td>
			
			
		</div>
<center>

		
      
    </div>
  
</body>
</html>
